* {
  margin: 0 auto;
  width: 92%;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

nav {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: #333;
  color: #f8f8f8;
  padding: 1rem 1rem;
  z-index: 9;
  display: flex;
}

body {
  margin-top: 3rem;
  font-family: "Inter", sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: 900;
  font-size: 2.625rem;
  text-align: center;
  color: #ffcc00;
}

h1 span {
  font-weight: 300;
  font-size: 1.5rem;
}

h2,
h3,
.heading,
.title,
h2 span {
  text-align: center;
}

h2 {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: #f8f8f8;
}

h2 span {
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-size: 1.125rem;
  margin-top: 0.5rem;
  font-weight: 400;
  color: #f8f8f8;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #5856d6;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.title {
  border-right: 2px solid #ffcc00;
  margin: 0 1rem;
}

#menuHTML {
  color: #333;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 0;
  height: max-content;
  padding-bottom: 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

#cartbutton {
  align-items: center;
  justify-content: center;
  width: 100%;
}

#menuHTML .shoppinglist {
  display: grid;
  grid-template-rows: 40% 60%;
  align-items: center;
  top: 0;
  border: 1px solid #ccc;
  position: relative;
  padding: 5rem 3rem;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.shoppinglist .addbutton {
  position: absolute;
  top: 1%;
  left: 48%;
  display: block;
  color: #5856d6;
}

#cartbutton {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.addbutton,
.removebutton {
  font-size: 1.5rem;
  cursor: pointer;
}

.removebutton {
  color: #f8f8f8;
}

.addbutton:hover,
.removebutton:hover {
  transition: all 300ms ease;
  color: #ffcc00;
}

.shoppinglist {
  display: grid;
  grid-template-rows: 30% 70%;
  align-items: center;
  border: 1px solid #ccc;
  margin: 1rem;
  position: relative;
  height: 100%;
  padding: 1rem 1rem;
  user-select: none;
}

.shoppinglist img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  filter: grayscale(25%);
  transition: filter 0.3s ease;
  opacity: 1;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 1%, black 40%);
  transition: opacity 0.3s ease;
}

.shoppinglist:hover img {
  filter: grayscale(0%);
}

#cartbutton {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

.iteminfo {
  transform: translate(0%, 40%);
}

#orderlist .iteminfo {
  transform: none;
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

.iteminfo h3 {
  color: #333;
  font-weight: bold;
  margin: 0.3rem 0;
}

p {
  font-size: 0.875rem;
  margin: 0.2rem 0;
  text-align: center;
}

h4 {
  font-size: 1rem;
}

#orderlist {
  background-color: #333;
  padding: 1rem 1rem;
  color: #f8f8f8;
  width: 100%;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#orderlist-info {
  margin-bottom: 0;
}

#orderingredients {
  display: inline-flex;
  justify-content: flex-start;
  text-align: start;
  width: 100%;
  color: #ccc;
  justify-content: start;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.feed {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 0.5%;
  justify-content: center;
  margin: 1rem 0rem;
}

#totalprice {
  border-top: 1px solid #f8f8f8;
}

button {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0.6rem 0;
  border-radius: 0.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

button:hover {
  opacity: 0.8;
}

aside h2 {
  color: #333;
  margin-bottom: 1rem;
}

#creditCardForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  color: #333;
  background-color: #fff;
  width: 35%;
  margin: 1.5rem 0;
  border: 1px solid #333;
  border-radius: 0.25rem;
}

#closebtn {
  position: absolute;
  top: 0%;
  left: 55%;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 99;
}

#closebtn:hover {
  opacity: 80%;
}

#creditCardForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#creditCardForm input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

#creditCardForm input[type="submit"] {
  background-color: #5856d6;
  color: white;
  cursor: pointer;
}

#creditCardForm input[type="submit"]:hover {
  opacity: 80%;
}

.checkout-bg {
  opacity: 20%;
  transition: all 300ms ease;
}

#checkout {
  color: #f8f8f8;
  background-color: #4846c9;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 0rem;
}

#itemnamebasket,
#itempricebasket {
  color: white;
}

#orderquantity {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.5rem;
}
@media only screen and (max-width: 1200px) {
  * {
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    overflow: visible;
  }
  #menuHTML {
    grid-template-columns: repeat(2, 1fr);
  }

  #creditCardForm {
    width: 90%;
  }

  .feed {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    overflow: visible;
  }
  .heading {
    display: flex;
  }
  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 0.3rem;
  }

  #menuHTML {
    grid-template-columns: repeat(1, 1fr);
  }

  .feed {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#continuebtn {
  display: inline-flex;
  align-items: center;
}

#continueWithoutMembership {
  margin-right: 10px;
}

#continueGuestLink {
  display: inline;
  align-items: center;
  padding: 0;
  margin: 0;
}

#continueGuestLink button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  padding: 1rem 1rem;
  margin: 0;
}
/* WELCOME SECTION STYLES */

#welcomepage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dwh;
  background: linear-gradient(to right, #ffcc00, #4846c9);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#welcomepage .grid-container {
  font-family: "Inter", sans-serif;

  color: #333;
  display: grid;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

#welcomepage .grid-container:before {
  content: "";
  background-image: url(app-bg.jpg);
  background-size: cover;
  height: 100vh;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#welcomepage .welcome {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 4rem;
  margin: 1rem;
  border-right: 1px solid #f8f8f8;
  position: relative;
  max-width: 100%;
  text-align: center;
}

.welcome h1 {
  font-family: "Karla", sans-serif;
  font-weight: 900;
  font-size: 10rem;
  text-align: center;
  color: #4846c9;
  margin: 0;
  display: inline-flex;
  align-items: end;
}

#welcome h1:hover {
  transform: rotate(-10deg);
  transition: all 300ms ease;
}

.welcome p,
.welcome small {
  margin: 0 auto;
  margin: 1rem;
}

.welcome .explanation {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.welcome p {
  font-size: 1.2rem;
  margin: 0;
  color: #f8f8f8;
}

.welcome p span {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.welcome small {
  font-size: 1rem;
  color: #f8f8f8;
}

#signupbtn {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: #4846c9;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  cursor: pointer;
  border: none;
}

#signupbtn:hover {
  opacity: 80%;
}

#registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f8f8f8;
  width: 100%;
  justify-content: center;
}

#registrationForm p {
  font-size: 1rem;
  width: 100%;
}

#registrationForm a span {
  font-weight: bold;
}

#registrationForm a:hover {
  opacity: 80%;
}

#registrationForm h2,
#registrationForm h3,
#registrationForm p {
  margin: 0.5rem 0;
}

#signuptext {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

#signuptext h3 {
  display: inline;
  font-size: 1rem;
  width: auto;
  font-weight: 400;
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

#registrationForm h3:hover {
  opacity: 0.8;
}

.form-grid,
.form-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#registrationForm form {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

#registrationForm input::placeholder {
  color: #f8f8f8;
}

#registrationForm input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 1rem;
  color: #fff;
  margin: 0.5rem 0;
  background-color: transparent;
}

@media screen and (max-width: 850px) {
  * {
    margin: 0 auto;
    padding: 0;
    overflow: visible;
    overflow: scroll;
  }

  #welcomepage {
    top: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #welcomepage .grid-container {
    margin: 0 auto;
    grid-template-columns: 1fr;
    display: grid;
  }

  .welcome,
  #registrationForm {
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #welcomepage #registrationForm {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
  #welcomepage .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin: 0;
    border-right: none;
    position: relative;
    max-width: 100%;
  }

  #welcomepage .welcome h1 {
    display: flex;
    flex-wrap: nowrap;
    font-weight: 900;
    text-align: center;
    font-size: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #quik {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #welcomepage h2 {
    font-size: 1rem;
  }
  #welcomepage p,
  #welcomepage button {
    font-size: 0.75rem;
    padding: 0;
  }

  #welcomepage input {
    font-size: 0.8rem;
  }

  #welcomepage #signupbtn {
    padding: 1rem 1.5rem;
  }

  #welcomepage h3 {
    font-size: 0.9rem;
  }
  nav {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }

  #useremail {
    display: none;
  }

  .welcome p,
  .welcome small {
    display: none;
  }
}
