* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right, #ffcc00, #4846c9);
  background-size: 100%;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.welcome {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 4rem;
  margin: 1rem 1rem;
  border-right: 1px solid #f8f8f8;
  height: 70vh;
  position: relative;
}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: 900;
  font-size: 10rem;
  text-align: center;
  color: #4846c9;
  margin: 0;
  padding: 0;
}

h1 span#dot {
  display: inline-flex;
  transition: transform 0.3s ease;
}

h1:hover span#dot {
  transform: rotate(-10deg);
}

.welcome p,
.welcome small {
  margin: 0;
  margin-bottom: 0.1rem;
  margin-right: 20%;
}

.explanation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-end;
}

p {
  font-size: 1.2rem;
  margin: 0;
  color: #f8f8f8;
}

p span {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-style: italic;
}

small {
  font-size: 1rem;
  margin-right: 20%;
  color: #f8f8f8;
}

button {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: #5856d6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4846c9;
}

#registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f8f8f8;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#registrationForm p {
  font-size: 1rem;
  width: 100%;
}

#registrationForm a span {
  font-weight: bold;
}

#registrationForm a:hover {
  opacity: 80%;
}

#registrationForm h2,
#registrationForm h3,
#registrationForm p {
  margin: 0.5rem 0;
}

#registrationForm h3 {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #f8f8f8;
  border-radius: 2rem;
  font-weight: 400;
  color: #f8f8f8;
}

#registrationForm h3:hover {
  opacity: 0.8;
}

.form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

input::placeholder {
  color: #f8f8f8;
}

input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 2rem;
  font-size: 1rem;
  color: #fff;
  margin: 0.5rem 0;
  background-color: transparent;
}

button[type="submit"] {
  width: 100%;
  background-color: #4846c9;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2rem;
  font-size: 1rem;
  border: none;
}

button[type="submit"]:hover {
  opacity: 80%;
}
